[submodule "libs/oboe"]
	path = libs/oboe
	url = ../../google/oboe.git
[submodule "KoordASIO"]
	branch = bltin
	path = KoordASIO
	url = git@github.com:koord-live/KoordASIO.git
[submodule "singleapplication"]
	path = singleapplication
	url = https://github.com/itay-grudev/SingleApplication.git
