[Desktop Entry]
Name=Koord-RT
Comment=Koord Server
GenericName=Internet Jam Session Software
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Mixer;Qt;Network;Application;
Keywords=jam;play;live;online;music;conference;
Exec=koord-rt-headless %u
Encoding=UTF-8
MimeType=x-scheme-handler/koord;
